/* ROOT */
:root {
--bg-cont-color: #D9DBD5;
--header-color: #EAEAEA;
--cta-notification-color: #8edafc;
}


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
img {
max-width: 100%;
border-radius: 50px;
}
    
/* Layout */
.wrapper {
width: 100%;
height: 100vh;
padding: 2rem 4rem;
/* debug */
background-color: var(--bg-cont-color);
}

.app-container {
    border: 1px solid black;
}

.chats-col {
    width: 30%;
    /* debug */
    border: 1px solid black;
    background-color: blueviolet;
    overflow-y: scroll;
    height: calc(100vh - 4rem);
    }

.convo-col {
    width: 70%;
    border: 1px solid black;
    background-color: green;
    overflow-y: scroll;
    height: calc(100vh - 4rem);
}

.flex {
    display: flex;
}

/* COMMON */
body {
    font-family: sans-serif;
    overflow: hidden;
    }

.header {
    height: 3rem;
    background-color: var(--header-color);
    justify-content: space-between;
    padding: .5rem;
}



/* LAYOUT  RESPONSIVE - 540px */

@media screen and (max-width: 540px) {
    .wrapper {
        padding: 0;
    }
   
    .app-container {
        width: 100%;  
    } 

    .chats-col {
        width: 20%;
        height: 100vh;
    }

    .convo-col {
        width: 80%;
        height: 100vh;
    }
}

/* LAYOUT RESPONSIVE - MOBILE 375px */

@media screen and (max-width: 375px) {
    .chats-col {
        display: none;
    }

    .convo-col {
        width: 100%;
    }
}

/* APP - CONTENT */

/* CHATS-HEADER and CONVO HEADER*/

.header-icons {
    align-items: center;
    gap: 1rem;
}

.convo-contact {
    color: gray;
}

.contact {
    font-size: .9rem;
}

.last-seen {
    font-size: .7rem;
}

/* HEADER RESPONSIVE - HEADER - 540PX */

@media screen and (max-width: 540px) {
    .chats-icons {
        display: none;
    }
}

/* HEADER RESPONSIVE - MOBILE 375px */
@media screen and (max-width: 375px) {
    .convo-icons {
        display: none;
    }
}

/* CHATS COLUMN */

.cta-notifications {
    height: 4rem;
    background-color: var(--cta-notification-color);
    padding: .5rem;
}

.bell {
    border-radius: 50px;
    background-color: white;
    /* border: 1px solid black; */
    display: inline-block;
    padding: .5rem;
    font-size: 1rem;
}