/* ROOT */
:root {
--bg-cont-color: #D9DBD5;
--header-color: #EAEAEA;
--dark-gray-color: rgb(66, 66, 66);
--chat-info-color: #b7b7b7;
--cta-notification-color: #8edafc;
--cta-notification-height: 65px;
--cta-notification-padding: .7rem;
--wrapper-padding-tb: 2rem;
--wrapper-padding-lr: 4rem;
--header-padding: .5rem;
--header-height: 65px;
--footer-height: 65px;
--profile-pic-btn-height: 50px;
--profile-pic-btn-width: 50px; 
--icon-font-size: 1.4rem; 
--search-bar-height: 2rem;
--single-chat-height: 65px;
--textarea-height: 50px;

}


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
img {
max-width: 100%;
border-radius: 50px;
}
    
/* Layout */
.wrapper {
width: 100%;
height: 100vh;
padding: var(--wrapper-padding-lr);
display: flex;
justify-content: center;
align-items: center;
/* debug */
background-color: var(--bg-cont-color);
}

.app-container {
    border: 1px solid black;
    /* width: 80%; */
    /* height: 95%; */
    /* margin: 0 auto; */
}

.chats-col {
    width: 30%;
    height: calc(100vh - var(--wrapper-padding-tb));
    /* debug */
    border: 1px solid black;
    background-color: blueviolet;
    overflow-y: scroll;
}

.convo-col {
    width: 70%;
    /* debug */
    border: 1px solid black;
    background-color: green;
    overflow-y: scroll;
    height: calc(100vh - var(--wrapper-padding-tb));
}

.flex {
    display: flex;
}

/* COMMON */
body {
    font-family: sans-serif;
    overflow: hidden;
    }

.header {
    height: var(--header-height);
    background-color: var(--header-color);
    justify-content: space-between;
    padding: var(--header-padding);
}
/* 


/* BUTTONS */

.btn {
    border: none;
    background-color: transparent;
    border-radius: 50px;
}

.profile-pic-btn {
    height: var(--profile-pic-btn-height);
    width: var(--profile-pic-btn-width);
    background-color: white;
}

.bell {
    background-color: white;
    padding: .5rem .7rem;
    font-size: 1rem;
}

/* LAYOUT  RESPONSIVE - 540px */

@media screen and (max-width: 540px) {
    .wrapper {
        padding: 0;
    }
   
    .app-container {
        width: 100%; 
        height: 100%; 
    } 

    .chats-col {
        width: 20%;
        height: 100vh;
    }

    .convo-col {
        width: 80%;
        height: 100vh;
    }
}

/* LAYOUT RESPONSIVE - MOBILE 375px */

@media screen and (max-width: 375px) {
    .chats-col {
        display: none;
    }

    .convo-col {
        width: 100%;
    }
}

/* APP - CONTENT */

/* CHATS-HEADER and CONVO HEADER*/

.header-icons {
    align-items: center;
    gap: 1rem;
}

.header-icons li {
    list-style-type: none;
}

.header-icons .icon {
    font-size: var(--icon-font-size);
}

.convo-contact {
    color: gray;
    padding: .5rem;
}

.contact {
    font-size: .9rem;
    color: var(--dark-gray-color);
}

.time {
    font-size: .7rem;
    color: var(--chat-info-color);
}



/* HEADER RESPONSIVE - HEADER - 540PX */

@media screen and (max-width: 540px) {
    .chats-icons .icon {
        display: none;
    }
}

/* HEADER RESPONSIVE - MOBILE 375px */
@media screen and (max-width: 375px) {
    .convo-icons .icon {
        display: none;
    }
}

/* CHATS COLUMN */

/* CTA-NOTIFICATIONS */

.cta-notifications {
    height: var(--cta-notification-height);
    background-color: var(--cta-notification-color);
    padding: var(--cta-notification-padding);
}

.notifications-content {
    margin: .7rem .5rem;
    font-size: .7rem;
}

.notifications-content a {
    color: gray;
}

/* RESPONSIVE - CTA-NOTIFICATIONS - 540px */
@media screen and (max-width: 540px) {
    .cta-notifications {
        display: none;
    }
}

/* SEARCH BAR */

.search-bar {
    border: 1px solid #F5F5F5;
    background-color: white;
    height: 2rem;
    align-items: center;
    padding: .5rem;
}

#search {
    margin-left: .5rem;
    width: 100%;
    border: none;
}

/* RESPONSIVE - SEARCH BAR - 540px */
@media screen and (max-width: 540px) {
    .search-bar {
        display: none;
    }
}


/* CHATS LIST */
.chats-list {
    height: calc(100% - var(--header-height) - var(--cta-notification-height) var(--search-bar-height) - var(--cta-notification-padding) - var(--header-padding) - var(--wrapper-padding-tb));
}


.single-chat {
    width: 100%;
    height: var(--single-chat-height);
    border: 1px solid #F5F5F5;
    background-color:white;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    padding: .5rem;
}

.chat-info {
    padding: .5rem;
}

.chat-preview {
    font-size: .7rem;
    color: var(--chat-info-color);
}



/* RESPONSIVE - CHATS LIST - 540px */
@media screen and (max-width: 540px) {
    .chat-info,
    .chat-time {
        display: none;
    }
}

/* RESPONSIVE - CHATS LIST - 375px */
@media screen and (max-width: 375px) {
    .single-chat {
        display: none;
    }
}

/* MAIN */

main {
    height: calc(100% - var(--header-height) - var(--footer-height));
}

/* FOOTER */
footer {
    width: 100%;
    height: var(--footer-height);
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--header-color);
}


.footer-icons {
    font-size: 1.5rem; 
    color: var(--dark-gray-color);
} 

.message {
    width: 100%;
}
textarea {
    height: var(--textarea-height);
    width: 100%;
    margin: .5rem;
    resize: none;
    border-radius: 5px;
    border: var(--bg-cont-color);

}

/* RESPONSIVE - FOOTER - NEW-MESSAGE - 375px */
@media screen and (max-width: 375px) {
    .footer-icons {
        display: none;
    }
}